*{
	box-sizing: border-box;
	margin: 0;
}

body{
	width: 100%;
	background-color: #FBFBFB;
}
h1, h2, h3 {
	font-family: 'Montserrat', sans-serif;
	text-align: center;
	color: #343f4f;
}

h1{
	font-size: 30px;
	font-weight: 600;

}

h2{
	font-weight: 400;
	font-size: 25px;
	
}

h3{
	
	font-weight: 400;
	font-size: 20px;
}

p{
	font-family: 'Raleway', sans-serif;
	font-size: 14px;
	text-align: center;
	font-weight: 400;
	color: #25272d;
}

a{
	font-family: 'Raleway', sans-serif;
	font-size: 14px;
	font-weight: 500;
	text-align: center;
}

.sitewidth {
	width: 1200px;
	margin: 0 auto;
}
/* NAV*/
section.menu {
	width: 100%;
	height: 80px;
	background-color: white;
	position: fixed;
}

.menu nav {
	margin-top: 25px;
}

nav ul{
  float: right;
  display: inline;
  list-style: none;
}

nav a {
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	color: #343f4f;
    text-decoration: none;
}
a.visiting{
	font-weight: 600;
}
nav li {
  display: inline;
  cursor: pointer;
  padding: 20px;
  margin-left: -5px;
}
a.logo{
	width: 190px;
	height: 70px;
	background-repeat: no-repeat;
	background-image:url('../images/Logo_imperium.png');
	float:left;
	background-size: contain;
}
/* HEADER IMAGE*/
header{
	height: 400px;
	width: 100%;
	background-image:url('../images/header_image1.png');
	background-repeat: no-repeat;
	background-size: cover;
	padding-top: 70px;
}

header h1{
	margin-top: 150px;
}

/* AGENDA PREVIEW*/

.voorstellingblok{
	width: 260px;
	height: 270px;
	float: left;
	margin: 20px;
	padding: 10px;
}

.voorstellingblok h3{
	text-align: left;
	margin-bottom: 3px;
	padding-right: 66px;
}

.voorstelling1 .image_voorstelling{
	width: 100%;
	height: 135px;
	background-image:url('../images/voorstelling_image1.png');
	background-size: contain;
	background-repeat: no-repeat;
}

.voorstelling2 .image_voorstelling{
	width: 100%;
	height: 135px;
	background-image:url('../images/voorstelling_image2.png');
	background-size: contain;
	background-repeat: no-repeat;
}

.voorstelling3 .image_voorstelling{
	width: 100%;
	height: 135px;
	background-image:url('../images/voorstelling_image3.png');
	background-size: contain;
	background-repeat: no-repeat;
}


.voorstellinghome h2{
	margin-bottom: 25px;
}

.voorstellinghome{
	margin-top: 50px;
	margin-bottom: 50px;
}

.voorstelling1{
	background-color: #cfe2f5;
}

.voorstelling2{
	background-color: #f0d6e4;
}

.voorstelling3{
	background-color: #fcf7bf;
}

.voorstellingmeer{
	background-color: #ffffff;
}

/* WAAROM PREVIEW*/

.waaromhome{
	margin-top: 365px;
	margin-bottom: 29PX;
	width: 100%;
	height: 270px;
	background-color: #eef2f5;
}
/* Ik begrijp deze margin niet helemaal? -Simone*/
.waaromhome p{
	width: 50%;
	margin: 0 auto;
	line-height: 22px;
}

.waaromhome h1{
	margin-bottom: 25px;
	padding-top: 63px;

}

/* SOCIAL WALL*/

.socialhome h2{
	margin-bottom: 25px;
}

.socialhome{
	margin-top: 50px;
}

.socialwallblok{
	width: 260px;
	height: 280px;
	float: left;
	margin: 20px;
	padding: 20px;
	background-color: white;
}

.socialwallblok p{
	text-align: left;
	line-height: 17px;
}

.social1 .image_social{
	width: 100%;
	height: 210px;
	background-image:url('../images/social1.png');
	background-size: contain;
	background-repeat: no-repeat;
}

.social2 .image_social{
	width: 100%;
	height: 210px;
	background-image:url('../images/social2.png');
	background-size: contain;
	background-repeat: no-repeat;
}

.social3 .image_social{
	width: 100%;
	height: 210px;
	background-image:url('../images/social3.png');
	background-size: contain;
	background-repeat: no-repeat;
}

.social4 .image_social{
	width: 100%;
	height: 210px;
	background-image:url('../images/social4.png');
	background-size: contain;
	background-repeat: no-repeat;
}



/* SOCIAL FOOTER*/

.socialfooter{
	width: 100%;
	height: 80px;
	background-color: #34373f;
	color: white;

}

.socialfooter ul{
  	/* display: inline; */
}

.socialfooter li {
  	display: inline;
  	cursor: pointer;
  	padding: 10px;
  	float: left;
  	margin-top: 20px;
  	margin-right: 90px;
}

.sociallogo{
	width: 30px;
	height: 30px;
	background-size: contain;
	background-repeat: no-repeat;
	margin-right: 10px;
	float: left;
	margin-top: -5px;
}

.twitter{
	background-image:url('../images/twitter.png');

}

.facebook{
	background-image:url('../images/facebook.png');
}

.instagram{
	background-image:url('../images/instagram.png');

}

.socialmargin {
    width: 840px;
    margin: 0 auto;
}

/* FOOTER */

.footer{
	height: 200px;
	color: white;
	width: 100%;
}

footer{
	margin-top: 380px;
}

.footercol{
	float: left;
	padding: 50px;
}

.footercol h2{
	text-align: left;
	margin-bottom: 5px;
}

.footercol p{
	text-align: left;
	padding-left: 10px;
	margin-bottom: 5px;

}

.footermargin{
	width: 840px;
    margin: 0 auto;
}

.sitemap p{
	cursor: pointer;
	margin-bottom: 10px;
}

.waaromhome{
	margin-top: 365px;
	margin-bottom: 29PX;
	width: 100%;
	height: 270px;
	background-color: #eef2f5;
}
/* OVER ONS */
.overimperium p{
	width: 50%;
	margin: 0 auto;
	line-height: 22px;
}

.overimperium h1{
	margin-bottom: 25px;
	padding-top: 63px;

}

.socialfooteroverons{
	margin-top: 960px;
}

